body{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

div{
    margin-top: 2rem;
}
ul{
    list-style: none;
}
h3{
    margin-left: 200px;
}